<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">




    <bean id="instructionFactory" class="sml.InstructionFactory">
    </bean>





    <bean class="sml.InstructionFactory">
    <property name="opcodeInstructionMap">
        <map>
            <entry key="add" value-ref="sml.instruction.AddInstruction" />
        </map>
    </property>
    </bean>
    <bean id="sml.instruction.AddInstruction"/>


    <!-- enable the usage of annotations -->
<!--    <context:annotation-config/>-->


</beans>